.page-content{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-lavel{ height: 32px; display: inline-block;}
.edit-style {
  color:blue;cursor:pointer;text-decoration:underline;
}
.tensorgo-userForm{
  padding: 2px;
  display: block;
  width: 50%;

}
.row{ 
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 0px;
}
.lbl-text{ padding-left: 4px;}
.action-panel{
  height: 40px;
  text-align: right;
  margin-top: 5px;
  display: block;
  
}